# Project specific
sqs/*.json

# OS X
.DS_Store

# Logs
logs
*.log

# Dependency directories
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/
config.json
